<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">



</head>

<body>

    <!-- <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login-form">
                    <form class="form-signin">
                       <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                       <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                       <label for="inputEmail" class="sr-only">Email address</label>
                       <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="credentials.email" required autofocus>
                       <label for="inputPassword" class="sr-only">Password</label>
                       <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>
                       <div class="checkbox mb-3">
                       </div>
                       <button class="btn btn-lg btn-warning btn-block" type="submit" ng-click="login(credentials)">Sign in</button>
                       <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
                    </form>
                  </div>
            </div>
        </div>
    </div> -->

    <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" name="logForm">
                        <span class="login100-form-title p-b-26">
                            Welcome
                        </span>
                        <span class="login100-form-title p-b-48" style="color: rgb(112, 163, 244);">
                            BTT
                        </span>
                        <span style="color:red" ng-show="logForm.email.$error.required && logForm.email.$dirty" >Enter your email</span>
                        <span style="color:red" ng-show=" logForm.email.$error.email">Enter email correctlly</span>
                        <div class="wrap-input100 validate-input" style="margin-top:5%">
                            <input class="input100" type="email" name="email" ng-model="credentials.email" required>
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>
<span style="color:red" ng-show="logForm.password.$error.required && logForm.password.$dirty " >Create password</span>
                        <div class="wrap-input100 validate-input" style="margin-top:5%">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye" ng-click="change()"></i>
                            </span>
                            <input class="input100" type="{{text}}" name="password" ng-model="credentials.password" required>
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <!-- <a href="#!adminPage" style="text-decoration:none;"> -->
                                    <button class="login100-form-btn" ng-click="login(credentials)" ng-disabled="logForm.$invalid" ng-required="accepted">
                                        Login
                                    </button>
                                <!-- </a> -->
                            </div>
                        </div>

                        <div class="text-center p-t-115">
                            <span class="txt1">
                                Don’t have an account?
                            </span>

                            <a class="txt2" href="#!register" style="text-decoration:none;">
                                Register
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
